@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
	display: flex;
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-size: 22px;
}

/*PLAY ZONE*/

.play-zone {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(206, 201, 193);
	border-right: rgb(104, 102, 98);
	border-right-style: solid;
	border-right-width: thin;
	width: 70%;
	height: 100vh;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 4% 10% 0 35%;
	width: 55%;
}
.header-text {
font-size: 2em;
}
.header-attempts {
color: red;
font-size: 5em;
margin: 0;
font-weight: 400;
}
.play {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 7%;
	width: 25%;
}
.play-form, .user-data-form {
	display: flex;
	width: 100%;
	margin: 14px 0;
}
.play-input, .user-data-name {
	width: 100%;
	height: 30px;
	background-color: rgb(240, 234, 224);
	border: 0;
}
.play-button, .user-data-button {
	width: 100%;
	margin: 14px 0;
	height: 22px;
	background-color: rgb(240, 234, 224);
}
.user-data-form, .user-data-button {
	width: 49%;
}
.play-button-p, .user-data-button-p {
	margin: 0;
	font-size: 1.2em;
}
.user-data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}
.instructions {
	display: flex;
	justify-content: center;
	margin-top: 12%;
	border: 1px solid blue;
	width: 80%;
}
.instructions-p {
	color: blue;
}

/*ESCORE ZONE*/
.score-zone {
	display: flex;
	padding-left: 5%;
	flex-direction: column;
	background-color: rgb(206, 201, 193);
	width: 30%;
}
.score-zone-h2 {
	margin: 80px 0 0 0;
}
.score-zone-ul {
	margin-left: 4%;
}
